extends ./partials/template.jade

block content
  .team
    h1 JSCS Development Team

    for maintainer in maintainers
      dl.team-member
        dt
          img.team-member-photo(src='https://avatars.githubusercontent.com/' + maintainer['github-username'])
        dd
          .team-member-name
            a(href='https://github.com/' + maintainer['github-username'])=maintainer.name
          .team-member-role=maintainer.role
          a.team-member-contact(href='mailto:' + maintainer.email)=maintainer.email
