header.header
  .header-top
    .header-top-content
      a.logo(href="/")
      ul.header-top-nav
        li
          a(href='./index.html') About
        li
          a(href='./overview.html') Overview
        li
          a(href='./rules.html') Rules
        li
          a(href='./contributing.html') Contributing
        li
          a(href='./team.html') Team
  .header-bottom
    ul.header-bottom-nav
      li
        a(href='https://groups.google.com/d/forum/jscs-dev', class='mailing-list') Mailing list
      li
        | <iframe src="http://ghbtns.com/github-btn.html?user=jscs-dev&repo=node-jscs&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
      li
        | <a href="https://twitter.com/jscs_dev" class="twitter-follow-button" data-show-count="false">Follow @jscs_dev</a>
        | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
