doctype
html
  head
    title JSCS - #{title}
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    link(rel="stylesheet", type="text/css", href="assets/style.css")
  body
    include ./header.jade
    .content
        block content
    include ./footer.jade
